body{
    font-family: 'Poppins', sans-serif;
    background-image: radial-gradient(#232730 , #1D212A);
    margin: 0%;
    padding: 0%;
}
h1{
    font-size: 50px;
    color: white;
}
.the-highlighter{
   color: orange;
}
.basis-experience{
    display: flex;
    margin-bottom: 150px;
}
h3, p{
    color: white;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
      padding-right: 2%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    color: #35476d;
    background-color: slategray;
    border-radius: 10px;
}
.doom{
    width: 50%;
    padding-left: 5%;
    box-shadow: 10px 10px 50px slategrey;
    border-radius: 10px;
    margin: 20px;

}
#boom{
    margin-left: 5px;
}
#n-tech{
    border-left: 7px solid;
    border-image: linear-gradient(#747984 #ccd3e2);
    border-image-slice: 1;   
}
#v-tech{
    border-left: 7px solid;
    border-image: linear-gradient(#33405a #ccd3e2);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
